/* title(new add) */
.title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px; 
}

/* horizontal form(new add) */
.form-inline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;  
}

/* The hint box is grayed out */ 
.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

/* the bottom copyright
.powered-by {
  text-align: center; 
  background: #eee;
  padding: 12px;
} */

/* button icon */
.btn .fa {
  margin-right: 6px;  
}

/* Search tags框樣式 */
.input-group input.form-control {
  border: none;
  /* 更圓角化 */
  border-radius: 10px;  
  background-color: #EEEEEE;
}

/* 放大鏡圖示樣式  */
.input-group-text i.fa-search {
  color: gray;
}

/* Button樣式  */
button.btn.btn-outline-secondary {
  /* 修改字體大小 */
  font-size: 12px; 
  /* 添加滑鼠移至button的顏色過渡效果 */
  transition: background-color 0.3s;
  background-color: #EEEEEE;
  /* 修改按鈕的寬度和高度 */
  width: 100px;
  height: 50px;
  /* 修改按鈕的圓角程度 */
  border-radius: 15px;
   /* 添加陰影效果 */
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
} 

 button.btn.btn-outline-secondary:hover { 
  /* 比原始顏色更深的灰色 */
   background-color: #CCCCCC;   
 } 

 .my-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #444; 
  color: #ddd;
  border: none;
  padding: 10px 20px; 
  font-size: 12px; 
  transition: background-color 0.3s;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.my-button:hover {
  background-color: #696868;
  color: #ddd;  
}

h1 {
  font-weight: bold;
}

.text-underline-hover {
  text-decoration: none;
}

.top-buffer { margin-top:20px; }

.table-row {
  cursor: pointer;
}

.posting.body {
  font-size: 1.2em;
}

/* .project.attribute {
  font-weight: bold;
}

.project.detail {
  color: grey;
}

.project.owner {
  font-weight: bold
} */

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

.top-buffer { margin-top:20px; }

.blank-row {
  height: 30px;
}

.query-bar {
  /* seems not use */
  background-color: #EEEEEE; 
  padding: 5px 5px 5px 5px;
}

/* can't use in slim(need to find out why) */
.hashtag-container {
  background-color: #e5e2e2;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.history-row {
  cursor: pointer;  
}

.history-tag {
  font-weight: bold;
  color: #39f;
}

.invisible-btn {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.tag-item span::before {
  content: "#"; 
  margin-right: 5px;
}

footer {
  padding: 0.5in;
  font-size:11px;
  color:rgb(100, 100, 100);
}
