---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v18.0/17986576562521259/top_media?access_token=<INSTAGRAM_TOKEN>&fields=id,caption,comments_count,like_count,timestamp&user_id=17841462175987660
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported get request. Object
        with ID '17986576562521259' does not exist, cannot be loaded due to missing
        permissions, or does not support this operation. Please read the Graph API
        documentation at https://developers.facebook.com/docs/graph-api"
      Facebook-Api-Version:
      - v18.0
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Unsupported get request. Object with ID ''17986576562521259''
        does not exist, cannot be loaded due to missing permissions, or does not support
        this operation. Please read the Graph API documentation at https:\/\/developers.facebook.com\/docs\/graph-api","type":"GraphMethodException","code":100,"error_subcode":33,"fbtrace_id":"AHUCjEhzt6tyizkmeJkV26F"}}'
  recorded_at: Sun, 22 Oct 2023 17:08:04 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v18.0/17842307719068454/top_media?access_token=<INSTAGRAM_TOKEN>&fields=id,caption,comments_count,like_count,timestamp&user_id=17841462175987660
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"209ca06bb12890b0c2b23c586eab37c25d6ab5db"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"17841424998209623":[{"type":"instagram","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}],"17841460299023451":[{"type":"instagram","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}],"17841459345344156":[{"type":"instagram","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v18.0
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"17857643877046119","caption":"gabii con fans \u2764\ufe0f\u200d\ud83e\ude79!\nvia:
        culpables.trilogia & tiktok \u0040\/ nicolegabriel124\n\n\ud83c\udff7 #culpamia
        #culpami\u0301a #culpamialapelicula #culpami\u0301athemovie #culpamiamovie
        #culpamiathemovie #culpamiapelicula #culpables #trilogiaculpables #mercedesron
        #mercedesronnbooks #wattpad #primevideo #movie #adaptacion #books #nicolewallace
        #gabrielguevara #new #nickynoah #noahmorgan #nicholasleister #nicholasynoah\n#fyp
        #explore","comments_count":6,"like_count":1005,"timestamp":"2023-10-22T15:52:13+0000"},{"id":"17882525033956776","caption":"XAUST
        \n\n #xaustcbs #cbscrew xcontratodos100 #cantbestopped #graffiti #citybombsquad
        #cbscrewbombs #vandals #cantbestoppedthemovie #cbscrewgraffiti #graffitiporn
        #227 #\ud83d\udc41 defend_melrose #exolorepage #explore #instagood #instalike
        #graff #new defend_melrose","comments_count":1,"like_count":51,"timestamp":"2023-10-22T16:57:35+0000"},{"id":"18080254141392847","caption":"#benz_barn
        #me[...]
- request:
    method: get
    uri: https://graph.facebook.com/v18.0/17842307719068454/top_media?access_token=<INSTAGRAM_TOKEN>&fields=id,caption,comments_count,like_count,timestamp,owner&user_id=17841462175987660
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "(#100) Please read documentation
        for supported fields."
      Facebook-Api-Version:
      - v18.0
    body:
      encoding: UTF-8
      string: '{"error":{"message":"(#100) Please read documentation for supported
        fields.","type":"OAuthException","code":100,"fbtrace_id":"AxZa2BMMwSnmnqThyWNG-dR"}}'
  recorded_at: Wed, 25 Oct 2023 13:11:31 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v18.0/17842307719068454/top_media?access_token=<INSTAGRAM_TOKEN>&fields=id,caption,comments_count,like_count,timestamp,%20media_url,%20children,%20media_type&user_id=17841462175987660
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7fa44a827a84c163d8ce997cd31155ed6e4b6089"'
      Content-Type:
      - application/json; charse[...]
- request:
    method: get
    uri: https://graph.facebook.com/v18.0/wronghashtagID/top_media?access_token=<INSTAGRAM_TOKEN>&fields=id,caption,comments_count,like_count,timestamp,%20media_url,%20children,%20media_type&user_id=17841462175987660
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported get request. Object
        with ID 'wronghashtagID' does not exist, cannot be loaded due to missing permissions,
        or does not support this operation. Please read the Graph API documentation
        at https://developers.facebook.com/docs/graph-api"
      Facebook-Api-Version:
      - v18.0
      Proxy-Status:
      - http_request_error; e_clientaddr="AcLN2VBCEXCgxqtxtpbWjP8PW-Vhzv_HaERJRMmbc5H5RtlFrt9DEfFqsaJevpZuZI42Az08ERP58gxFqkTn6nFQJnFOJ5bOeaIim7auh_iwQA";
        e_fb_vipport="AcKFXGGioCwLvIPlpqSIK_vqPdPjHQ-xPeRM-1e15tPAGZ3RgL02Zje-f2kZ";
        e_upip="AcIGf8gIPQTJwRTg_Eon4NQM_CRHuxF8TUyqIxCOqHR9TcI7RTgwZxZVC0NsvbU3o4WTtP80uKMuxpZgVFuJGUNK6y4Dy8RQWw";
        e_fb_hostheader="AcJI_CI7I-pIbfHLNz3EBh3F8dn0CPuBMEosnxhtKyVI0HBoYE9q1PXIpRGuSKSmTFeQEbajL89qRgUA";
        e_fb_vipaddr="AcLpcdyka-FH[...]
- request:
    method: get
    uri: https://graph.facebook.com/v18.0/wronghashtagID/top_media?access_token=BAD_TOKEN&fields=id,caption,comments_count,like_count,timestamp,%20media_url,%20children,%20media_type&user_id=BAD_ACCOUNT_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "inv[...]
- request:
    method: get
    uri: https://graph.facebook.com/v18.0/17842307719068454/top_media?access_token=<INSTAGRAM_TOKEN>&fields=id,caption,comments_count,like_count,timestamp,media_url,children,media_type&user_id=17841462175987660
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1017d6abe25941ee631a0adf7ce5234a6b0ba425"'
      Content-Type:
      - application/json; charset=UTF-8
 [...]
- request:
    method: get
    uri: https://graph.facebook.com/v18.0/17842307719068454/top_media?access_token=BAD_TOKEN&fields=id,caption,comments_count,like_count,timestamp,media_url,children,media_type&user_id=17841462175987660
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invali[...]
- request:
    method: get
    uri: https://graph.facebook.com/v18.0/fake_hashtag_name/top_media?access_token=<INSTAGRAM_TOKEN>&fields=id,caption,comments_count,like_count,timestamp,media_url,children,media_type&user_id=17841462175987660
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - applicatio[...]
- request:
    method: get
    uri: https://graph.facebook.com/v18.0/ig_hashtag_search?access_token=<INSTAGRAM_TOKEN>&q=17842307719068454&user_id=17841462175987660
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Plat[...]
